/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */


.faqit-block-wrapper {
	position: relative;
	column-gap: 10px;
	flex-wrap: wrap;
	display: flex;
	width: 100%;
}

.clickable-faq {
	box-shadow: 0px 1px 2px 0px #0000000F;
	line-height: 27px;
	flex-direction: column;
	background: #fff;
	color: #282A2C;
	font-size: 18px;
	padding: 0;
	font-weight: 600;
	transition: none;
	align-items: center;
	line-height: 27px;
	justify-content: space-between;
	border: none;
	align-items: center;
	padding: 20px 20px 20px 24px;
	cursor: pointer;
	row-gap: 30px;
	border-radius: 10px;
}
dt.description-title {
	width: 100%;
	display: flex;
	padding: 0;
	transition: none;
	align-items: unset;
	line-height: normal;
	justify-content: unset;
}

dd.description {
	margin-left: 0;
	border: none;
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.3s ease;
	margin: 0;
	p {
		margin: 0;
        font-weight: 400;
        font-size: 15px;
        color: #777E85;
	}
}
.expand-collapse {
	float: none;
	margin: 0;
	display: flex;
	align-items: center;
	width: max-content;
	margin-right: 0;
	margin-left: auto;
	svg {
		fill: #C02FAC;
		top: 0;
		transition: transform 0.3s ease;
	}
	svg.rotated {
		transform: rotate(-180deg);
	}
}

dd.description.open {
	max-height: 200px;
}
dd.description>div {
	padding: 0;
	margin-top: 30px;
}
.faqit-block-wrapper {
	display: flex;
	flex-direction: column;
	width: 100%;
	margin-bottom: 30px;
	margin-top: 30px;
	dl {
		display: flex;
		flex-direction: column;
		row-gap: 20px;
		margin-block-start: 0;
		margin-block-end: 0;
		p {
			margin: 0;
		}
	}
}

body.rtl .expand-collapse {
	margin-left: 0;
	margin-right: auto;
}
